<div>
  <h1>My Product Page</h1>

  <div *ngIf="isLoading">
    <span>Loading...</span>
  </div>

  <div *ngIf="errorMessage">
    <span>Error: {{errorMessage}}</span>
  </div>

  <!--//TODO: Add div with *ngIf and *ngFor to render category-->
  
    <div class="container">
    
  <!-- These are categories -->
      <!-- <div class="category-container" *ngIf="categories && !isLoading">
          <div class="product-card" *ngFor="let item of categories">
            <app-product-category
            [category]="item"
            (categoryFromChildEvent)="categoryReceiveParentEvent($event)"
            >
            </app-product-category>
          </div>
    </div> -->
     
    <!-- This are the product -->
      <div class="card-container" *ngIf="products.length && !isLoading">
      <div class="product-card" *ngFor="let item of products">
        <app-product-card [product]="item" [category]="category">
        </app-product-card>
      </div>
    </div>
    
  <!--  TODO: Add a child component for User-->
  <!--  show firstName, email, username-->
    

</div>
