
<div class="container-fluid-row">
    <div class="user-container row">
        <div *ngIf="userToDisplay">
            <app-user-details [userDetailsDisplay]="userToDisplay" ></app-user-details>

        </div>


        <div class="col" *ngFor="let item of users">
            <app-user-card 
                [user]="item"
                (userSelected)="onUserSelected($event)"></app-user-card>
        </div>
        <div class="col">
            <app-user-details [userDetailsDisplay]="userToDisplay"></app-user-details>
            <!-- <app-user-card [userDetailsDisplay]="userToDisplay"></app-user-card> -->

        </div>

        
    </div>
</div>













